
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h3>@ViewBag.Message</h3>
<p>There are @ViewBag.CustomerCount customers added into the list</p>

<ul>
    @foreach(var item in ViewBag.CustomerList)
    {
        <li>@item.Id - @item.Name - @item.Amount</li>
    }
</ul>

<hr/>

@Html.ActionLink("Details Page", "Details", "Customer");

<br/>

<a asp-controller="Customer" asp-action="Message">Message</a>